* {
    box-sizing: border-box; /* Adicionado para melhorar o dimensionamento */
    padding: 0;
    margin: 0;
    font-size: 22px;
  }
  
  body {
    background-color:rgb(216, 216, 216);
    overflow-x: hidden;
  }
  
  @media screen and (max-width: 480px) {
    .button {
      font-size: 12px;
      margin: auto;
    }
    .card,
    .cardB {
      width: 90%;
      height: 10%;
      margin: 10px;
    }
  }
  
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(4, 97, 97);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    border: 1px solid black;
    height: 100px;
  }
  
  .button {
    cursor: pointer;
    background-color: rgb(4, 97, 97);
    font-weight: bold;
  }
  
  .button:hover {
    color: aliceblue;
    transform: scale(1.2);
    animation: anim 1.5s infinite ease-in-out ;
  }
  
  .secaoA,
  .secaoB {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
  }
  
  .card {
    display: flex;
    background-color: rgb(3, 114, 114);
    padding: 15%;
    border-radius: 20px;
    margin: 20px;
    width: 45%;
    height: 45%;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
  }
  
  .card:hover {
    background-color: rgba(4, 97, 97, 0.315);
    transform-style: flat;
    animation: anim 1.5s infinite ease-in-out ;
    
  }
  
  .cardB {
    display: flex;
    background-color: rgb(164, 243, 253);
    padding: 45px;
    border-radius: 20px;
    margin: 40px;
    width: 55px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
  }
   @keyframes anim{
    50%{
      transform: translateY(-3%);
    }
   }
   .footer{
    display: flex;
    padding: 30px;
    height: 30%;
    margin-bottom: 0;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
   }
   
  .column1 p, .column2 p, .column3 p{
    display: flex;
    margin: 20px;
    color: white;
  }
  